body {
  margin: 0 auto;
  max-width: 1440px;
}

* {
    box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  width: 94%;
  margin-bottom: 5%;
}

/*Далее идет блок с логотипом, моделями, кнопки Магазин и Войти, и бургер меню*/

.header {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  width: 166px;
  height: 51px;
  background: no-repeat url(img/tesla-logotype.svg);
}

.menu {
  position: relative;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57%;
}

.menu__models_item,
.menu__shop_item {
  font: 15px Montserrat-SemiBold, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #000;
}

.menu__models_item:hover,
.menu__shop_item:hover,
.menu__shop_item-burger:hover {
  opacity: 0.5;
  cursor: pointer;
}

.menu__models {
  width: 36%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 25px;
}

.menu__shop_item-burger {
  width: 24px;
  height: 15px;
  background: no-repeat url(img/burger-menu.svg);
}

.menu__models_item_1_active {
  color: #e51937;
}

.menu__models_item_1_active::after {
  position: absolute;
  top: 25px;
  display: block;
  content: '';
  width: 61px;
  height: 2px;
  background: no-repeat url(img/vector.svg);
  opacity: 1;
  transition: opacity 0.5s, width 0.5s;
}

.menu__shop {
  width: 17%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.menu__shop_item {
  position: relative;
  right: 2px;
}

.menu__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.menu__button > span,
.menu__button > span::before,
.menu__button > span::after {
  display: block;
  position: absolute;
  width: 10%;
  height: 3px;
  background-color: #0056ec;
}

.menu__button > span::before {
  content: '';
  top: -8px;
}

.menu__button > span::after {
  content: '';
  top: 8px;
}

/*Далее идет первый блок с заставкой Надпись и Машина*/

.section-one {
  background: center no-repeat url(img/tesla-background.svg);
  background-size: contain;
  background-position-y: -12px;
  background-position-x: 37px;
}

.section-one__title {
  margin: 0 auto;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 90px/110px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.section-one__subtitle {
  margin: 0 auto;
  margin-bottom: 49px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 15px/19px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.section-one__img {
  height: 42vh;
  background: no-repeat url(img/tesla-car1.svg);
  background-position: center;
  margin-bottom: 53px;
}

/* Далее идет блок с характеристиками и кнопкой Заказать*/

.characteristics-wrap {
  margin: 0 auto;
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 56%;
  height: 75px;
}

/*Второстепенный блок со скоростью и километрами*/

.characteristics-wrap__item {
  font-family: Montserrat-SemiBold, arial, helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 70px;
}

.decrp {
  font-family: Montserrat-SemiBold, arial, helvetica, sans-serif;
  font-size: 35px;
  margin: 0;
  display: flex;
  align-items: center;
}

.decrp__item {
  padding-left: 1.2vh;
}

.decrp__img {
  margin: 0;
  width: 52px;
  height: 35px;
  background: no-repeat url(img/tesla-speed.svg);
}

.decrp__img_dist {
  margin: 0;
  width: 35px;
  height: 70px;
  background: no-repeat url("./img/road.svg");
  background-position: bottom;
}

.parametres1__speed_value {
  margin: 0;
  margin-right: 4px;
}

.decrp__text {
  font-size: 20px;
  padding-left: 5px;
}

.decrp__title {
  display: flex;
  align-items: baseline;
}

.decrp__acceleration {
  margin: 0;
  margin-bottom: 4px;
  margin-right: 11px;
  font-family: Montserrat-Regular, arial, helvetica, sans-serif;
  font-size: 12px;
}

/*Второстепенный блок с тест-драйвом и ЗАКАЗАТЬ*/

.order-wrap {
  font-family: Montserrat-Bold, arial, helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 318px;
  height: 40px;
}

.order-wrap__text,
.order-wrap__button {
  margin: 0;
  font-size: 13px;
  text-decoration: none;
  }

.order-wrap__button {
  border: solid 3px #e51937;
  color: #e51937;
  padding: 9px 41px;
  transform: translate(-2px, 1px);
}

.order-wrap__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  text-decoration: none;
  color: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.order-wrap__text::before {
  content: '';
  transform: translate(-5px);
  width: 22px;
  height: 22px;
  background: no-repeat url(img/test-drive_wheel.svg);
}

.vector {
  margin: 0 auto;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
}

.section {
  display: flex;
  justify-content: space-between;
  height: 900px;
  background-position: left bottom;
}

.section__left {
  background: no-repeat url(./img/tesla-car2.png);
  background-size: 127%;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  background-position: bottom left;
}

.section__left-title {
  width: 84%;
  font-family: Montserrat-SemiBold, arial, helvetica,sans-serif;
  font-size: 70px;
  color: #e51937;
}

.section__right {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 440px;
  background-color: #e51937;
}

.section__right-title {
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 52px;
  margin-bottom: 14px;
  font-family: Montserrat-SemiBold, arial, helvetica, sans-serif;
  font-size: 30px;
}

.section__right-subtitle {
  margin: 0 52px 60px;
  font-family: Montserrat-Regular, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
}

.decrp__img_display {
  margin: 0;
  height: 66px;
  background: no-repeat url("./img/display.svg");
  background-position: center bottom;
}

.decrp__text_white {
  padding-left: 11px;
}

.decrp__text_white_wifi {
  padding: 0;
}

.decrp__item_white {
  color: #fff;
  padding-left: 1vh;
}

.decrp_white {
  margin: 0 10% 7%;
}

.decrp_white_wifi {
  margin: 0 10% 5.5%;
}

.decrp__img_wifi {
  height: 55px;
  background: no-repeat url("./img/wifi.svg");
  background-position: center;
}

.decrp__img_bag {
  height: 80px;
  background: no-repeat url("./img/bag.svg");
  background-position: center;
}

.decrp__item_white_bag {
  padding-left: 15px;
}

.decrp_white_bag {
  margin-bottom: 161px;
}

.decrp__item_white_wifi {
  height: 75px;
  width: 300px;
  padding-left: 17px;;
}

.order-wrap_white {
  width: 357px;
  margin-left: 12%;
}

.order-wrap__text_white,
.order-wrap__button_white {
  color: #fff;
  filter: none;
}

.order-wrap__button_white {
  border: solid 3px #fff;
  padding: 9px 40px;
  margin-right: 10px;
}

.order-wrap__text_white::before {
  padding-right: 3px;
  content: '';
  transform: translate(-5px);
  height: 22px;
  background: no-repeat url(./img/inf-label.svg);
}

.section__left-title_model {
  margin-top: 64px;
}

.section_reverse {
  flex-direction: row-reverse;
}

.section__left_reverse {
  background: #fff;
}

.section__left-title_model_reverse {
  font-size: 200px;
  opacity: 0.1;
  margin: 0;
  padding-left: 179px;
  padding-top: 97px;
  transform: translate(10px, 0px);
}

.section__right-title_reverse {
  margin-top: 51px;
  margin-left: 55px;
}

.section__right-subtitle_reverse {
  margin: 0 56px 56px 56px;
  word-spacing: 1px;
}

.section__left-title_reverse {
  width: 100%;
}

.section__right-title_reverse_rank {
  margin-left: 56px;
  margin-bottom: 25px;
}

.safety {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 92px 10px 56px;
}

.front,
.side,
.side-second,
.driver,
.passenger {
  font-family: Montserrat-Bold, arial, helvetica, sans-serif;
  font-size: 17px;
  margin: 0;
}

.rack {
  font-family: Montserrat-SemiBold, arial, helvetica, sans-serif;
  font-size: 10px;
}

.decrp__img_shield {
  width: 63px;
  height: 75px;
  background: no-repeat url(./img/security-shield.svg);
  background-size: cover;
}

.iPad_right_reserve {
  margin-bottom: 107px;
}

.decrp_reserve {
  padding-left: 65px;
  margin-bottom: 56px;
}

.decrp__value_reserve,
.decrp__text_reserve {
  font-size: 50px;
}

.decrp__acceleration_reserve {
  font-family: Montserrat-Medium, arial, helvetica, sans-serif;
  font-size: 25px;
  line-height: 30px;
  margin-right: 0px;
  padding-left: 2px;
}

.decrp__item_reserve {
  padding-left: 2.2vh;
}

.decrp__title_reserve {
  line-height: 44px;
}

.decrp__text_reserve {
  padding-left: 15px;
}

.order-wrap_white_reserve {
  margin-left: 10%;
}

.order-wrap__button_white_reserve {
  margin-right: 12px;
}

.section_car3 {
  position: absolute;
  background: no-repeat url(img/tesla-car3.svg);
  width: 1049px;
  height: 592px;
  transform: translate(-95px, -170px);
}

@media (max-width: 1439px) {
  .section__left {
    background-size: cover;
  }
}

@media (max-width: 931px) {
  .menu__models,
  .menu__shop_item {
    display: none;
  }

  .wrapper {
    width: 96%;
  }

  .menu__shop_item-burger {
    width: 36px;
    height: 25px;
    background: no-repeat url(img/burger-menu-iPad.svg);
  }

  .menu__shop {
    width: 10%;
  }

  .header {
    margin-bottom: 95px;
  }

  .section-one {
    background: center no-repeat url(img/tesla-background+car-iPad.svg);
    height: 56vh;
    margin-bottom: 285px;
  }

  .section-one__img {
    display: none;
  }

  .section-one__subtitle {
    margin-bottom: 453px;
  }

  .characteristics-wrap {
    flex-direction: column;
    margin-bottom: 173px;
  }

  .section {
    flex-direction: column;
    height: 985px;
  }

  .characteristics-wrap__item {
    width: 570px;
    margin-bottom: 64px;
    justify-content: space-around;
  }

  .order-wrap__text_red,
  .order-wrap__button_red {
    color: #e51937;
    font-size: 16px;
  }

  .order-wrap__text::before {
    background: no-repeat url(img/test-drive_wheel-red.svg);
    background-position-x: 6px;
    width: 32px;
    height: 32px;
    padding-right: 15px;
  }

  .order-wrap__button_red {
    background-color: #e51937;
    border: none;
    color: #fff;
    padding: 18px 65px;
  }

  .order-wrap {
    width: 421px;
    height: 50px;
  }

  .decrp {
    width: 203px;
    font-family: Montserrat-SemiBold, arial, helvetica, sans-serif;
    font-size: 50px;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .decrp__text {
    transform: translate(5px, -6px);
  }

  .decrp__img {
    background: no-repeat url(img/tesla-speed-iPad.svg);
    width: 66px;
    height: 51px;
  }

  .decrp__img_dist {
    background: no-repeat url(./img/road-iPad.svg);
    background-position: bottom;
    width: 50px;
    height: 83px;
  }

  .decrp__item {
    padding-left: 2vh;
  }

  .decrp__item_dist {
    padding-left: 1.2vh;
  }

  .section__left {
    background: no-repeat url(./img/tesla-background2-iPad.svg);
    background-position: bottom;
  }

  .section__right {
    width: auto;
    height: 487px;
    align-items: center;
  }

  .iPad {
    margin-bottom: 16px;
    height: 75%;
    display: flex;
    justify-content: space-between;
  }

  .iPad-left {
    width: 50%;
    padding-left: 35px;
    padding-top: 5px;
  }

  .iPad-right {
    padding-left: 62px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .section__right-title {
    margin: 0 auto;
    margin-top: 51px;
    margin-bottom: 21px;
    font-family: Montserrat-SemiBold, arial, helvetica, sans-serif;
    font-size: 30px;
  }

  .section__left-title_model {
    margin: 0 auto;
    margin-left: 196px;
    margin-top: 5px;
    width: 288px;
  }

  .section__left-title {
    width: 38%;
    font-family: Montserrat-SemiBold, arial, helvetica,sans-serif;
    font-size: 70px;
    color: #e51937;
  }

  .section__right-subtitle {
    margin: 0 13px 0 0;
  }

  .decrp__img_display {
    width: 52px;
    margin: 0;
    height: 66px;
    background: no-repeat url(./img/display.svg);
    background-position: center;
  }

  .decrp__img_wifi {
    height: 55px;
    background: no-repeat url(./img/wifi.svg);
    background-position: center;
  }

  .decrp__img_bag {
    transform: translate(1px, 8px);
    height: 80px;
    background: no-repeat url(./img/bag.svg);
    background-position: center;
  }

  .decrp__item_white {
    transform: translate(11px, -9px);
    padding: 0;
  }

  .decrp__value_white {
    font-size: 35px;
  }

  .decrp_white_wifi {
    width: 269px;
    padding: 11px 0;
  }

  .decrp__text_white {
    transform: translate(10px, 2px);
    padding: 0;
  }

  .decrp__title_white_bag {
    transform: translate(-2px, 7px);
    padding: 0;
  }

  .decrp__text_white_wifi {
    transform: translate(0px, 5px);
    line-height: 90%;
  }

  .decrp__acceleration_white_wifi {
    transform: translate(0px, 7px);
  }

  .decrp__acceleration_white_bag {
    transform: translate(-3px, 5px);
  }

  .order-wrap_white {
    width: 460px;
    margin: 0;
  }

  .order-wrap__button_white {
    font-size: 16px;
    padding: 16px 60px;
    margin: 0px;
  }

  .order-wrap__text_white {
    font-size: 16px;
    transform: translate(5px, 4px);
  }

  .order-wrap__text_white::before {
    padding-right: 5px;
    content: '';
    transform: translate(-5px);
    height: 35px;
    background: no-repeat url(./img/inf-label-iPad.svg);
  }
}
