body {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 94%;
  margin-bottom: 5%;
}

/*Далее идет блок с логотипом, моделями, кнопки Магазин и Войти, и бургер меню*/

.header {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 166px;
  height: 51px;
  background: no-repeat url(img/tesla-logotype.svg);
  padding-right: 47px;
}

.menu {
  position: relative;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57%;
}

.menu__models_item,
.menu__shop_item {
  font: 15px Montserrat-SemiBold, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #000;
}

.menu__models_item:hover,
.menu__shop_item:hover,
.menu__shop_item-burger:hover {
  opacity: 0.5;
  cursor: pointer;
}

.menu__models {
  width: 36%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__shop_item-burger {
  width: 24px;
  height: 15px;
  background: no-repeat url(img/burger-menu.svg);
}

.menu__models_item_1_active {
  color: #e51937;
}

.menu__models_item_1_active::after {
  position: absolute;
  top: 65px;
  display: block;
  content: '';
  width: 61px;
  height: 2px;
  background: no-repeat url(img/vector.svg);
  opacity: 1;
  transition: opacity 0.5s, width 0.5s;
}

.menu__shop {
  width: 17%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.menu__shop_item {
  position: relative;
  right: 2px;
}

.menu__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.menu__button > span,
.menu__button > span::before,
.menu__button > span::after {
  display: block;
  position: absolute;
  width: 10%;
  height: 3px;
  background-color: #0056ec;
}

.menu__button > span::before {
  content: '';
  top: -8px;
}

.menu__button > span::after {
  content: '';
  top: 8px;
}

/*Далее идет первый блок с заставкой Надпись и Машина*/

.main__section1 {
  width: 1440px;
  height: 467px;
  background: center no-repeat url(img/tesla-background.svg);
  background-size: contain;
  margin-bottom: 286px;
}

.main__section1_title {
  margin: 0 auto;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 90px/110px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.main__section1_subtitle {
  margin: 0 auto;
  margin-bottom: 19px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 15px/19px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.car1 {
  margin: 0 auto;
  margin-bottom: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Далее идет блок с характеристиками и кнопкой Заказать*/

.section1__characteristics {
  margin: 0 auto;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 56%;
  height: 75px;
}

/*Второстепенный блок со скоростью и километрами*/

.section1__characteristics1 {
  font-family: Montserrat-SemiBold, arial, helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 377px;
  height: 70px;
}

.section1__characteristics1-speed {
  width: 154px;
  height: 58px;
  font-size: 35px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.speedtable {
  margin: 0;
  width: 52px;
  height: 35px;
  background: no-repeat url(img/tesla-speed.svg);
}

.parametres1__speed_value {
  margin: 0;
  margin-right: 4px;
}

.parametres1__seconds {
  font-size: 20px;
}

.parametres1,
.parametres2 {
  display: flex;
  align-items: baseline;
}

.acceleration,
.powerreserve {
  margin: 0;
  margin-bottom: 4px;
  margin-right: 11px;
  font-family: Montserrat-Medium, arial, helvetica, sans-serif;
  font-size: 12px;
}

.section1__characteristics1-power_reserve {
  width: 144px;
  height: 70px;
  font-size: 35px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.road {
  margin: 0;
  width: 45px;
  height: 60px;
  transform: translate(0, 7px);
  background: no-repeat url(img/road.svg);
}

.kilometres {
  padding-left: 5px;
  font-size: 20px;
}

.powerreserve {
  margin-right: 1px;
}

/*Второстепенный блок с тест-драйвом и ЗАКАЗАТЬ*/

.section1__characteristics2 {
  font-family: Montserrat-Bold, arial, helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 318px;
  height: 40px;
}

.section1__characteristics2-test_drive,
.section1__characteristics2-button_order {
  margin: 0;
  font-size: 13px;
  text-decoration: none;
  }

.section1__characteristics2-button_order {
  border: solid 3px #e51937;
  color: #e51937;
  padding: 9px 41px;
  transform: translate(-2px, 1px);
}

.section1__characteristics2-test_drive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 22px;
  text-decoration: none;
  color: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section1__characteristics2-test_drive::before {
  content: '';
  transform: translate(-5px);
  width: 22px;
  height: 22px;
  background: no-repeat url(img/test-drive_wheel.svg);
}

.vector {
  margin: 0 auto;
  margin-bottom: 34px;
  display: flex;
  align-items: center;
}

/** {
  border: dashed 1px red;
}*/

.main__section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.main__section2_leftbackground {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1440px;
  height: 844px;
  background: no-repeat url(img/tesla-car2.svg);
}

.main__section2_leftbackground-title {
  margin: 0;
  padding-top: 8px;
  padding-left: 80px;
  width: 288px;
  height: 86px;
  font-family: Montserrat-SemiBold, arial, helvetica,sans-serif;
  font-size: 70px;
  color: #e51937;
}

.main__section2_rightbackground {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 633px;
  height: 900px;
  background: no-repeat url(img/tesla-background2.svg);
}

.main__section2_rightbackground-title {
  margin: 0;
  font-family: Montserrat-SemiBold, arial, helvetica,sans-serif;
  font-size: 30px;
  color: #fff;
  padding-top: 51px;
  transform: translate(52px, 0);
}
