body {
  margin: 0 auto;
  max-width: 1440px;
}

.wrapper {
  margin: 0 auto;
  width: 94%;
  margin-bottom: 5%;
}

/*Далее идет блок с логотипом, моделями, кнопки Магазин и Войти, и бургер меню*/

.header {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 166px;
  height: 51px;
  background: no-repeat url(img/tesla-logotype.svg);
  padding-right: 47px;
}

.menu {
  position: relative;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57%;
}

.menu__models_item,
.menu__shop_item {
  font: 15px Montserrat-SemiBold, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #000;
}

.menu__models_item:hover,
.menu__shop_item:hover,
.menu__shop_item-burger:hover {
  opacity: 0.5;
  cursor: pointer;
}

.menu__models {
  width: 36%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__shop_item-burger {
  width: 24px;
  height: 15px;
  background: no-repeat url(img/burger-menu.svg);
}

.menu__models_item_1_active {
  color: #e51937;
}

.menu__models_item_1_active::after {
  position: absolute;
  top: 65px;
  display: block;
  content: '';
  width: 61px;
  height: 2px;
  background: no-repeat url(img/vector.svg);
  opacity: 1;
  transition: opacity 0.5s, width 0.5s;
}

.menu__shop {
  width: 17%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.menu__shop_item {
  position: relative;
  right: 2px;
}

.menu__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.menu__button > span,
.menu__button > span::before,
.menu__button > span::after {
  display: block;
  position: absolute;
  width: 10%;
  height: 3px;
  background-color: #0056ec;
}

.menu__button > span::before {
  content: '';
  top: -8px;
}

.menu__button > span::after {
  content: '';
  top: 8px;
}

/*Далее идет первый блок с заставкой Надпись и Машина*/

.section-one {
  background: center no-repeat url(img/tesla-background.svg);
  background-size: contain;
  background-position-y: -12px;
  background-position-x: 37px;
}

.section-one__title {
  margin: 0 auto;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 90px/110px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.section-one__subtitle {
  margin: 0 auto;
  margin-bottom: 19px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 15px/19px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.section-one__img {
  height: 42vh;
  background: no-repeat url(img/tesla-car1.svg);
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}

/* Далее идет блок с характеристиками и кнопкой Заказать*/

.characteristics-wrap {
  margin: 0 auto;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 56%;
  height: 75px;
}

/*Второстепенный блок со скоростью и километрами*/

.characteristics-wrap__item {
  font-family: Montserrat-SemiBold, arial, helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 70px;
}

.decrp {
  width: 154px;
  height: 58px;
  font-size: 35px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.decrp__img {
  margin: 0;
  width: 52px;
  height: 35px;
  background: no-repeat url(img/tesla-speed.svg);
}

.decrp__img_dist {
  margin: 0;
  width: 45px;
  height: 56px;
  background: no-repeat url("./img/road.svg");
}

.parametres1__speed_value {
  margin: 0;
  margin-right: 4px;
}

.decrp__text {
  font-size: 20px;
  padding-left: 5px;
}

.decrp__title {
  display: flex;
  align-items: baseline;
}

.decrp__acceleration {
  margin: 0;
  margin-bottom: 4px;
  margin-right: 11px;
  font-family: Montserrat-Medium, arial, helvetica, sans-serif;
  font-size: 12px;
}

/*Второстепенный блок с тест-драйвом и ЗАКАЗАТЬ*/

.order-wrap {
  font-family: Montserrat-Bold, arial, helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 318px;
  height: 40px;
}

.order-wrap__text,
.order-wrap__button {
  margin: 0;
  font-size: 13px;
  text-decoration: none;
  }

.order-wrap__button {
  border: solid 3px #e51937;
  color: #e51937;
  padding: 9px 41px;
  transform: translate(-2px, 1px);
}

.order-wrap__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 22px;
  text-decoration: none;
  color: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.order-wrap__text::before {
  content: '';
  transform: translate(-5px);
  width: 22px;
  height: 22px;
  background: no-repeat url(img/test-drive_wheel.svg);
}

.vector {
  margin: 0 auto;
  margin-bottom: 34px;
  display: flex;
  align-items: center;
}

.section {
  display: flex;
  justify-content: space-between;
}

.section__background {
  background: no-repeat url(./img/tesla-car2.svg);
  background-position-y: 56px;;
  width: 69.45%;
  height: 900px;
}

.section__background-title {
  margin: 0;
  position: relative;
  top: 64px;
  left: 80px;
  font-family: Montserrat-SemiBold, arial, helvetica, sans-serif;
  font-size: 70px;
  color: #e51937;
}

.section__characteristics {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e51937;
  height: 900px;
  width: 30.55%;
}

.order-wrap__text_white,
.order-wrap__button_white {
  color: #fff;
}

.decrp__img_display {
  margin: 0;
  width: 55px;
  height: 53px;
  background: no-repeat url(./img/display.svg);
}

.decrp__img_wifi {
  margin: 0;
  width: 44px;
  height: 34px;
  background: no-repeat url(img/wifi.svg);
}

.decrp__img_bag {
  margin: 0;
  width: 36px;
  height: 52px;
  background: no-repeat url(img/bag-capacity.svg);
}

.section__characteristics-title {
  width: 76%;
  padding: 4.7vh 0 1vh 0;;
  margin: 0 auto;
  font-family: Montserrat-SemiBold, arial, helvetica, sans-serif;
  font-size: 30px;
  color: #fff;
}

.section__characteristics-subtitle {
  width: 75%;
  padding-bottom: 6.5vh;
  margin: 0 auto;
  font-family: Montserrat-Medium, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
}
