body {
  margin: 0 auto;
  max-width: 1440px;
}

* {
    box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  width: 94%;
  margin-bottom: 5%;
}

/*Далее идет блок с логотипом, моделями, кнопки Магазин и Войти, и бургер меню*/

.header {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  width: 166px;
  height: 51px;
  background: no-repeat url(img/tesla-logotype.svg);
}

.menu {
  position: relative;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57%;
}

.menu__models_item,
.menu__shop_item {
  font: 15px Montserrat-SemiBold, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #000;
}

.menu__models_item:hover,
.menu__shop_item:hover,
.menu__shop_item-burger:hover {
  opacity: 0.5;
  cursor: pointer;
}

.menu__models {
  width: 36%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 25px;
}

.menu__shop_item-burger {
  width: 24px;
  height: 15px;
  background: no-repeat url(img/burger-menu.svg);
}

.menu__models_item_1_active {
  color: #e51937;
}

.menu__models_item_1_active::after {
  position: absolute;
  top: 25px;
  display: block;
  content: '';
  width: 61px;
  height: 2px;
  background: no-repeat url(img/vector.svg);
  opacity: 1;
  transition: opacity 0.5s, width 0.5s;
}

.menu__shop {
  width: 17%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.menu__shop_item {
  position: relative;
  right: 2px;
}

.menu__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.menu__button > span,
.menu__button > span::before,
.menu__button > span::after {
  display: block;
  position: absolute;
  width: 10%;
  height: 3px;
  background-color: #0056ec;
}

.menu__button > span::before {
  content: '';
  top: -8px;
}

.menu__button > span::after {
  content: '';
  top: 8px;
}

/*Далее идет первый блок с заставкой Надпись и Машина*/

.section-one {
  background: center no-repeat url(img/tesla-background.svg);
  background-size: contain;
  background-position-y: -12px;
  background-position-x: 37px;
}

.section-one__title {
  margin: 0 auto;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 90px/110px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.section-one__subtitle {
  margin: 0 auto;
  margin-bottom: 19px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 15px/19px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.section-one__img {
  height: 42vh;
  background: no-repeat url(img/tesla-car1.svg);
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}

/* Далее идет блок с характеристиками и кнопкой Заказать*/

.characteristics-wrap {
  margin: 0 auto;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 56%;
  height: 75px;
}

/*Второстепенный блок со скоростью и километрами*/

.characteristics-wrap__item {
  font-family: Montserrat-SemiBold, arial, helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 70px;
}

.decrp {
  font-family: Montserrat-SemiBold, arial, helvetica, sans-serif;
  font-size: 35px;
  margin: 0;
  display: flex;
  align-items: center;
}

.decrp__item {
  padding-left: 1.2vh;
}

.decrp__img {
  margin: 0;
  width: 52px;
  height: 35px;
  background: no-repeat url(img/tesla-speed.svg);
}

.decrp__img_dist {
  margin: 0;
  width: 35px;
  height: 70px;
  background: no-repeat url("./img/road.svg");
  background-position: bottom;
}

.parametres1__speed_value {
  margin: 0;
  margin-right: 4px;
}

.decrp__text {
  font-size: 20px;
  padding-left: 5px;
}

.decrp__title {
  display: flex;
  align-items: baseline;
}

.decrp__acceleration {
  margin: 0;
  margin-bottom: 4px;
  margin-right: 11px;
  font-family: Montserrat-Regular, arial, helvetica, sans-serif;
  font-size: 12px;
}

/*Второстепенный блок с тест-драйвом и ЗАКАЗАТЬ*/

.order-wrap {
  font-family: Montserrat-Bold, arial, helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 318px;
  height: 40px;
}

.order-wrap__text,
.order-wrap__button {
  margin: 0;
  font-size: 13px;
  text-decoration: none;
  }

.order-wrap__button {
  border: solid 3px #e51937;
  color: #e51937;
  padding: 9px 41px;
  transform: translate(-2px, 1px);
}

.order-wrap__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  text-decoration: none;
  color: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.order-wrap__text::before {
  content: '';
  transform: translate(-5px);
  width: 22px;
  height: 22px;
  background: no-repeat url(img/test-drive_wheel.svg);
}

.vector {
  margin: 0 auto;
  margin-bottom: 34px;
  display: flex;
  align-items: center;
}

.section {
  display: flex;
  justify-content: space-between;
  height: 900px;
  background-position: left bottom;
}

.section__left {
  background: no-repeat url(./img/tesla-car2.svg);
  background-size: 127.5%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-grow: 1;
  background-position: bottom left;
}

.section__left-title {
  width: 84%;
  font-family: Montserrat-SemiBold, arial, helvetica,sans-serif;
  font-size: 70px;
  color: #e51937;
}

.section__right {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 440px;
  background-color: #e51937;
}

.section__right-title {
  margin: 0 auto;
  margin-top: 51px;
  margin-right: 73px;
  margin-bottom: 12px;
  font-family: Montserrat-SemiBold, arial, helvetica, sans-serif;
  font-size: 30px;
}

.section__right-subtitle {
  margin: 0 52px 61px;
  font-family: Montserrat-Regular, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
}

.decrp__img_display {
  margin: 0;
  height: 66px;
  background: no-repeat url("./img/display.svg");
  background-position: center bottom;
}

.decrp__text_white {
  padding-left: 11px;
}

.decrp__text_white_wifi {
  padding: 0;
}

.decrp__item_white {
  color: #fff;
  padding-left: 1vh;
}

.decrp_white {
  margin: 0 10% 7%;
}

.decrp_white_wifi {
  margin: 0 10% 5.5%;
}

.decrp__img_wifi {
  height: 55px;
  background: no-repeat url("./img/wifi.svg");
  background-position: center;
}

.decrp__img_bag {
  height: 55px;
  background: no-repeat url("./img/bag.svg");
  background-position: center;
}

.decrp__item_white_bag {
  padding-left: 15px;
}

.decrp_white_bag {
  margin-bottom: 164px;
}

.decrp__item_white_wifi {
  height: 75px;
  width: 300px;
  padding-left: 17px;;
}

.order-wrap_white {
  width: 357px;
  margin-left: 12%;
}

.order-wrap__text_white,
.order-wrap__button_white {
  color: #fff;
  filter: none;
}

.order-wrap__button_white {
  border: solid 3px #fff;
  padding: 9px 40px;
  margin-right: 10px;
}

.order-wrap__text_white::before {
  padding-right: 3px;
  content: '';
  transform: translate(-5px);
  height: 22px;
  background: no-repeat url(./img/inf-label.svg);
}

.section__left-title_model {
  margin-top: 64px;
}
